html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FFFFFF;
}

button {
    font-family: 'Source Sans Pro', sans-serif;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

/* Navigation Bar */
.nav-bar-theme {
    box-shadow: 5px 0 20px 1px #FFF9C4;
    background-color: #FDD835 !important;
    border-color: #FFCA28;
}

.nav-bar-icon {
    color: #000 !important;
}

.nav-bar-icon-card {
    box-shadow: 0 0 50px -10px #BDBDBD !important;
    background-color: #F5F5F5 !important;
    padding: 0 5px;
}

.file-manager-theme {
    height: 95vh;
    background-color: #F5F5F5 !important;
    box-shadow: 0 0 30px -10px #BDBDBD !important;
    border-radius: 10px;
    overflow-y: auto;
    max-width: 500px;
}

.file-manager-item {
    background-color: #F5F5F5 !important;
}

.admin-user-table {
    background-color: #F5F5F5 !important;
    box-shadow: 0 0 30px -10px #BDBDBD !important;
    max-width: 750px;
    margin-left: 1rem
}

.admin-tool-bar {
    background-color: #F5F5F5 !important;
}