*{margin:0;}

body{
    font: 200 16px/1 Helvetica, Arial, sans-serif;
}

/*img{width:32.2%;}*/

#overlay{
    position:fixed;
    z-index:99999;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:#fff;
    transition: 1.5s 0.4s;
}

#progress{
    height:1px;
    background:#000;
    position:absolute;
    width:0;
    top:50%;
}

#progstat{
    font-size:0.7em;
    letter-spacing: 3px;
    position:absolute;
    top:50%;
    margin-top:-40px;
    width:100%;
    text-align:center;
    color:#000;
}
