{% extends 'base.html' %}

{% block title %} Admin {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<div id="app">
    <!-- Loading Screen-->
    <div id="overlay">
        <div id="progstat"></div>
        <div id="progress"></div>
    </div>

    {% include 'deprecated/nav_bar_old.html' %}
    <vs-row>
        <vs-col vs-w="4" style="padding: 1rem">
            <vs-row vs-align="center">
                <vs-col vs-w="2">
                    <vs-button href="/" radius color="dark" type="flat" icon="arrow_back"></vs-button>
                </vs-col>
                <vs-col vs-w="4">
                    <h2>Admin</h2>
                </vs-col>
            </vs-row>
            <vs-row>
                <vs-col>
                    <vs-divider/>
                </vs-col>
            </vs-row>
            <vs-row>
                <vs-col style="margin-top: 2rem">
                    <h3>Add user</h3>
                    <vs-row>
                        <vs-col vs-w="4">
                            <vs-input label-placeholder="Username" v-model="add_username" color="dark"/>
                        </vs-col>
                        <vs-col vs-w="4">
                            <vs-input label-placeholder="Email" v-model="add_email" color="dark"/>
                        </vs-col>
                        <vs-col vs-w="4">
                            <vs-input type="password" label-placeholder="Password" v-model="add_password" color="dark"/>
                        </vs-col>
                        <vs-row>
                            <vs-col>
                                <vs-button v-on:click="add_user" color="dark" style="display: inline-block; padding: 0.5rem 2rem; margin-top: 1rem">Add user</vs-button>
                            </vs-col>
                        </vs-row>
                    </vs-row>
                </vs-col>
            </vs-row>

            <vs-row>
                <vs-col style="padding-top: 2rem">
                    <h3>Delete user</h3>
                    <vs-row>
                        <vs-col>
                            <vs-input label-placeholder="Email" v-model="delete_email" color="dark"/>
                        </vs-col>
                        <vs-row>
                            <vs-col>
                                <vs-button v-on:click="delete_user" color="dark" style="display: inline-block; padding: 0.5rem 2rem; margin-top: 1rem">Delete user</vs-button>
                            </vs-col>
                        </vs-row>
                    </vs-row>
                </vs-col>
            </vs-row>

            <vs-row>
                <vs-col style="width: 50%; margin-top: 2rem">
                    <vs-alert :active="log.length > 0" color="dark" style="display: inline-block">
                        {{ log }}
                    </vs-alert>
                </vs-col>
            </vs-row>
        </vs-col>

        <vs-col vs-w="8" style="padding: 1rem">
            <h2>Database</h2>
            <vs-row>
                <vs-col>
                    <vs-table max-items="10" :data="users_list" pagination search>
                        <template slot="header">
                            <h3 class="table_header"> Users </h3>
                        </template>

                        <template slot="thead">
                            <vs-th class="file_list_item"  sort-key="username">Username</vs-th>
                            <vs-th class="file_list_item"  sort-key="email">Email</vs-th>
                        </template>

                        <template slot-scope="{data}">
                            <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                                <vs-td :data="data[indextr].username">
                                    <div class="file_list_item"> {{ data[indextr].username }} </div>
                                </vs-td>
                                <vs-td :data="data[indextr].email">
                                    <div class="file_list_item"> {{ data[indextr].email }} </div>
                                </vs-td>
                            </vs-tr>
                        </template>
                    </vs-table>
                </vs-col>
            </vs-row>
        </vs-col>
    </vs-row>
</div>

<script src="/static/js/admin.js"></script>
{% endblock %}
