<v-row xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-col>
        <v-card>
            <v-list two-line subheader>
                <v-subheader inset>
                    <v-btn v-bind:disabled="disable_back" v-on:click="navigate_back()" radius color="dark">
                        <v-icon>arrow_back</v-icon>
                    </v-btn>
                </v-subheader>
                <div v-for="item in all_items">
                    <a v-if="item.is_file" :href="get_file_link(item.name)" download>
                        <v-list-item :key="item.name" @click="">
                            <v-list-item-avatar>
                                <v-icon class="grey lighten-1 white--text">assignment</v-icon>
                            </v-list-item-avatar>
                            <v-list-item-content>
                                <v-list-item-title>{{ item.name }}</v-list-item-title>
                            </v-list-item-content>
                            <v-list-item-action>
                                {{ item.size }}
                            </v-list-item-action>
                        </v-list-item>
                    </a>
                    <div v-else>
                        <v-list-item :key="item.name" @click="navigate_to(item.name)">
                            <v-list-item-avatar>
                                <v-icon class="grey lighten-1 white--text">folder</v-icon>
                            </v-list-item-avatar>
                            <v-list-item-content>
                                <v-list-item-title>{{ item.name }}</v-list-item-title>
                            </v-list-item-content>
                            <v-list-item-action>
                                {{ item.size }}
                            </v-list-item-action>
                        </v-list-item>
                    </div>
                </div>
            </v-list>
        </v-card>
    </v-col>
</v-row>