{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<style>
.vs-list--slot {
    margin-left: 0;
}
</style>
<div id="app">
<vs-row>
    <vs-col vs-type="flex" vs-justify="left" vs-align="center" vs-w="9" style="margin: 10px">
        <img src="/static/img/test_logo.jpg" width="4%"/>
    </vs-col>
    <vs-col v-if="admin" vs-type="flex" vs-offset="0" vs-justify="center" vs-align="center" vs-w="1" style="padding: 1rem">
        <vs-button color="primary" type="filled" href="/admin">Admin</vs-button>
    </vs-col>
    <vs-col vs-type="flex" vs-offset="0" vs-justify="center" vs-align="center" vs-w="1" style="padding: 1rem">
        <vs-button color="primary" type="filled" href="/logout">Logout</vs-button>
    </vs-col>
</vs-row>

<vs-row>
    <vs-col vs-type="flex" vs-offset="0" vs-justify="center" vs-align="center" vs-w="1" style="padding: 1rem">
        <vs-button color="primary" type="filled" v-bind:disabled="disable_back" v-on:click="navigate_back()">Back</vs-button> <br>
    </vs-col>
    <vs-col vs-type="flex" vs-offset="0" vs-justify="center" vs-align="center" vs-w="1" style="padding: 1rem">
        <vs-button color="primary" type="filled" v-on:click="navigate_to(default_dir, abs_path=true)">Home</vs-button> <br>
    </vs-col>
</vs-row>

<vs-row>
    <vs-col vs-w="3" style="padding: 1rem">
        <vs-row>
            <vs-col vs-justify="center" vs-align="center" vs-w="12">
                <vs-list>
                    <vs-list-header title="Directories"></vs-list-header>
                    <vs-list-item v-for="dir in current_dirs" style="margin-left: 0"> <div v-on:click="navigate_to(dir)"> {{ dir }} </div> </vs-list-item>
                </vs-list>
            </vs-col>
        </vs-row>

        <vs-row>
            <vs-col vs-justify="center" vs-align="center" vs-w="12">
                <vs-list>
                    <vs-list-header title="Files"></vs-list-header>
                    <vs-list-item v-for="file in current_files"> <a :href="get_file_link(file)" download> {{ file }} </a> </vs-list-item>
                </vs-list>
            </vs-col>
        </vs-row>
    </vs-col>

    <vs-col vs-justify="center" vs-align="center" vs-w="9" style="padding: 0.5rem">
        <div id="index_viewer">

        </div>
    </vs-col>
</vs-row>

</div>
<script src="/static/js/index.js"></script>
{% endblock %}
