{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">

<div id="app">
    <v-app id="app">
        <v-content>
            <v-container class="fill-height" fluid>
                <v-row align="center" justify="center" style="margin: auto">
                    <v-col cols="12" md="4">
                        <v-img src="/static/img/icon.png" contain height="15rem"></v-img>
                        <div style="text-align: center">Serve directories along with docs</div>
                    </v-col>

                    <v-col cols="12" md="4">
                        <v-card class="login-form pa-5">
                            <v-row>
                                <v-col cols="12">
                                    <h2 style="text-align: center">SimplyServe</h2>
                                </v-col>
                            </v-row>

                            <v-form>
                                <v-row>
                                    <v-col cols="12">
                                        <v-text-field v-model="email" label="Email" name="email" prepend-icon="email" type="email" color="dark" solo/>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12">
                                        <v-text-field v-model="password" id="password" label="Passsword" name="password" prepend-icon="lock" type="password" color="dark" solo/>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="3" style="margin: auto">
                                        <v-btn @click="login">Login</v-btn>
                                    </v-col>
                                </v-row>
                            </v-form>
                        </v-card>
                    </v-col>
                </v-row>

                <v-snackbar v-model="show_alert">
                    <b>Incorrect Email or Password</b>
                    <v-btn color="white" text @click="show_alert = false"><b>Close</b></v-btn>
                </v-snackbar>
            </v-container>
        </v-content>
    </v-app>
</div>
<script src="/static/js/login.js"></script>
{% endblock %}
