{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<style>
.form_input {
    margin-top: 2rem;
}
</style>
<div id="app">
<vs-row>
    <vs-col vs-w="4" vs-offset="4" style="margin-top: 10%; text-align: center">
            <vs-row vs-type="flex" style="display: inline-block">
                <vs-col vs-align="center" vs-justify="center">
                    <vs-row>
                        <vs-col style="text-align: center">
                            <img src="/static/img/test_logo.jpg" width="200px"/>
                        </vs-col>
                    </vs-row>
                    <vs-row>
                        <vs-col>
                            <h2> {{ server_name }}</h2>
                        </vs-col>
                    </vs-row>
                    <vs-row class="form_input">
                        <vs-col style="text-align: center">
                            <vs-input label-placeholder="Email" v-model="email" style="display: inline-block"/>
                        </vs-col>
                    </vs-row>
                    <vs-row class="form_input">
                        <vs-col style="text-align: center">
                            <vs-input type="password" label-placeholder="Password" v-model="password" style="display: inline-block"/>
                        </vs-col>
                    </vs-row>
                    <vs-row class="form_input">
                        <vs-col style="text-align: center">
                            <vs-button color="primary" v-on:click="login" style="display: inline-block">submit</vs-button>
                        </vs-col>
                    </vs-row>
                    <vs-row class="form_input">
                        <vs-col style="text-align: center; width: 50%; margin: auto">
                            <vs-alert :active="show_alert" style="display: inline-block">
                                Incorrect Email or Password.
                            </vs-alert>
                        </vs-col>
                    </vs-row>
                </vs-col>
            </vs-row>
    </vs-col>
</vs-row>
</div>
<script src="/static/js/login.js"></script>
{% endblock %}
