<v-navigation-drawer class="nav-bar-theme" mini-variant permanent app dark style="width: 64px">
    <v-list>
        <v-list-item style="padding: 0 5px">
            <v-list-item-icon>
                <v-card class="nav-bar-icon-card">
                    <v-row no-gutters>
                        <v-col>
                            <v-img src="/static/img/icon.png"></v-img>
                        </v-col>
                    </v-row>
                </v-card>
            </v-list-item-icon>
        </v-list-item>

        <v-list-item link :key="p.title" v-for="p in pages" @click="change_page(p.title)" style="padding: 0 !important;">
            <template v-if="p.show">
                <v-list-item-icon style="margin: auto">
                    <v-tooltip right>
                        <template v-slot:activator="{ on }">
                            <v-card v-if="p.title == current_page" class="nav-bar-active-card" v-on="on">
                                <v-row align="center" justify="center">
                                    <v-col style="text-align: center">
                                        <v-icon class="nav-bar-icon" v-on="on">{{ p.icon }}</v-icon>
                                    </v-col>
                                </v-row>
                            </v-card>
                            <v-card v-else class="nav-bar-inactive-card">
                                <v-row align="center" justify="center">
                                    <v-col style="text-align: center">
                                        <v-icon class="nav-bar-icon" v-on="on">{{ p.icon }}</v-icon>
                                    </v-col>
                                </v-row>
                            </v-card>
                        </template>
                        <span>{{ p.title }}</span>
                    </v-tooltip>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>{{ p.title }}</v-list-item-title>
                </v-list-item-content>
            </template>
        </v-list-item>
    </v-list>

    <template v-slot:append>
        <v-tooltip right>
            <template v-slot:activator="{ on }">
                <v-row v-on="on">
                    <v-col style="text-align: center">
                        <a href="/logout">
                            <v-icon class="nav-bar-icon">logout</v-icon>
                        </a>
                    </v-col>
                </v-row>
            </template>
            <span>Logout</span>
        </v-tooltip>
    </template>
</v-navigation-drawer>
