{% extends 'base.html' %}

{% block title %} Upload {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<div id="app">
{% include 'nav_bar.html' %}

    <!-- Website nav -->
    <vs-row vs-align="center" style="padding: 0.7rem; width: 25%">
        <vs-col vs-w="3">
            <vs-button href="/" radius color="dark" type="flat" icon="arrow_back"></vs-button>
        </vs-col>
        <vs-col vs-w="4">
            <h2>Upload</h2>
        </vs-col>
    </vs-row>
    <vs-row>
        <vs-col vs-w="4" style="padding-left: 1rem">
            <vs-divider/>
        </vs-col>
    </vs-row>

    <!-- Upload -->
    <vs-row style="padding: 1rem">
        <vs-col style="margin: auto; width: 20%">
            <vs-upload action="/public_uploads" file-name="file" @on-success="successUpload" style="display: inline-block"/>
        </vs-col>
    </vs-row>

    <!-- Uploads table -->
    <vs-row>
        <vs-col style="padding: 1rem">
            <vs-table :data="files" pagination search>
                <template slot="header">
                    <h3 class="table_header">Files</h3>
                </template>

                <template slot="thead">
                    <vs-th sort-key="name">Name</vs-th>
                    <vs-th>Size</vs-th>
                    <vs-th>Link</vs-th>
                </template>

                <template slot-scope="{data}">
                    <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" >
                        <vs-td :data="data[indextr].name">
                            <div class="file_list_item">
                                {{ data[indextr].name }}
                            </div>
                        </vs-td>
                        <vs-td :data="data[indextr].size">
                            {{ data[indextr].size }}
                        </vs-td>
                        <vs-td :data="data[indextr].link">
                            <a v-on:click="copy_to_clipboard(data[indextr].link)">
                                {{ data[indextr].link }}
                            </a>
                        </vs-td>
                    </vs-tr>
                </template>
            </vs-table>
        </vs-col>
    </vs-row>
</div>
<script src="/static/js/public_uploads.js"></script>
{% endblock %}